# {{ ansible_managed }}

[Unit]
Description=OpenSSH %i Server Key Generation
ConditionFileNotEmpty=|!/etc/ssh/ssh_host_%i_key

[Service]
Type=oneshot
EnvironmentFile=-/etc/default/ssh
ExecStart=/usr/bin/ssh-keygen -q -N "" -t %i -f /etc/ssh/ssh_host_%i_key

[Install]
WantedBy=ssh-keygen.target
